<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
        namespace="com.zifuji.cloud.server.business.module.friend.relation.mapper.FriendMapper">

    <select id="selectPageFriend" resultType="com.zifuji.cloud.server.business.module.friend.relation.bo.FriendComponentMo">
		SELECT
			zbfi.*
		FROM
		z_bu_friend_info zbfi
		INNER JOIN z_web_user zwu ON zbfi.create_by = zwu.id
		${ew.customSqlSegment}	
	</select>
    <select id="getListFriendRelation" resultType="com.zifuji.cloud.server.business.module.friend.relation.bo.FriendRelationComponentMo">
        SELECT
			zbfg.group_name,
			zbfi.name,
			zbfi.img_url
        FROM
        z_bu_friend_relation zbfr
        INNER JOIN z_bu_friend_info zbfi ON zbfr.friend_id = zbfi.id
        INNER JOIN z_bu_friend_group zbfg ON zbfr.friend_group = zbfg.id
        <where>
            <if test="userId neq null">
                and zbfr.create_by = #{userId}
            </if>
        </where>
    </select>

</mapper>