<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
        namespace="com.zifuji.cloud.server.sys.module.manageUser.mapper.ManageUserMapper">

	 <select id="selectListUser" resultType="com.zifuji.cloud.server.sys.module.manageUser.cache.bo.ManageUserComponentMo">
		SELECT
		zmu.id,
		zmu.create_by,
		zmu.create_time,
		zmu.update_by,
		zmu.update_time,
		zmu.sort_num,
		zmu.del_flag,
		zmu.user_name,
		zmu.pass_word,
		zmu.name
		FROM
		z_manage_user zmu
		LEFT JOIN z_manage_user_role zmur ON zmu.id = zmur.user_id
		LEFT JOIN z_manage_role zmr ON zmur.role_id = zmr.id
		LEFT JOIN z_manage_role_menu zmrm ON zmrm.role_id = zmr.id
		LEFT JOIN z_manage_menu zmm ON zmm.id = zmrm.menu_id
		LEFT JOIN z_manage_role_permission zmrp ON zmrp.role_id = zmr.id
		LEFT JOIN z_manage_permission zmp ON zmp.id = zmrp.permission_id
		${ew.customSqlSegment}			
	 </select>
	 <select id="selectPageUser" resultType="com.zifuji.cloud.server.sys.module.manageUser.cache.bo.ManageUserComponentMo">
		SELECT
		zmu.id,
		zmu.create_by,
		zmu.create_time,
		zmu.update_by,
		zmu.update_time,
		zmu.sort_num,
		zmu.del_flag,
		zmu.user_name,
		zmu.pass_word,
		zmu.name
		FROM
		z_manage_user zmu
		LEFT JOIN z_manage_user_role zmur ON zmu.id = zmur.user_id
		LEFT JOIN z_manage_role zmr ON zmur.role_id = zmr.id
		LEFT JOIN z_manage_role_menu zmrm ON zmrm.role_id = zmr.id
		LEFT JOIN z_manage_menu zmm ON zmm.id = zmrm.menu_id
		LEFT JOIN z_manage_role_permission zmrp ON zmrp.role_id = zmr.id
		LEFT JOIN z_manage_permission zmp ON zmp.id = zmrp.permission_id
		${ew.customSqlSegment}	 
	 </select>
	 <select id="selectListRole" resultType="com.zifuji.cloud.server.sys.module.manageUser.cache.bo.ManageRoleComponentMo">
		SELECT
		zmr.id,
		zmr.create_by,
		zmr.create_time,
		zmr.update_by,
		zmr.update_time,
		zmr.del_flag,
		zmr.sort_num,
		zmr.name,
		zmr.code,
		zmr.description
		FROM
		z_manage_role zmr
		LEFT JOIN z_manage_user_role zmur ON zmr.id = zmur.role_id
		LEFT JOIN z_manage_user zmu ON zmu.id = zmur.user_id
		LEFT JOIN z_manage_role_menu zmrm ON zmrm.role_id = zmr.id
		LEFT JOIN z_manage_menu zmm ON zmrm.menu_id = zmm.id
		${ew.customSqlSegment}
    </select>
    <select id="selectPageRole" resultType="com.zifuji.cloud.server.sys.module.manageUser.cache.bo.ManageRoleComponentMo">
		SELECT
		zmr.id,
		zmr.create_by,
		zmr.create_time,
		zmr.update_by,
		zmr.update_time,
		zmr.del_flag,
		zmr.sort_num,
		zmr.name,
		zmr.code,
		zmr.description
		FROM
		z_manage_role zmr
		LEFT JOIN z_manage_user_role zmur ON zmr.id = zmur.role_id
		LEFT JOIN z_manage_user zmu ON zmu.id = zmur.user_id
		LEFT JOIN z_manage_role_menu zmrm ON zmrm.role_id = zmr.id
		LEFT JOIN z_manage_menu zmm ON zmrm.menu_id = zmm.id
		${ew.customSqlSegment}    
    </select>
	<select id="selectListPermission"
			resultType="com.zifuji.cloud.server.sys.module.manageUser.cache.bo.ManagePermissionComponentMo">
		SELECT
			zmp.id,
			zmp.create_by,
			zmp.create_time,
			zmp.update_by,
			zmp.update_time,
			zmp.del_flag,
			zmp.sort_num,
			zmp.name,
			zmp.code_sys,
			zmp.code_module,
			zmp.code,
			zmp.description
		FROM
			z_manage_permission zmp
		LEFT JOIN z_manage_role_permission zmrp on zmrp.permission_id = zmp.id
		LEFT JOIN z_manage_role zmr on zmr.id = zmrp.role_id
		LEFT JOIN z_manage_user_role zmur on zmur.role_id = zmr.id
		LEFT JOIN z_manage_user zmu on zmu.id = zmur.user_id
		${ew.customSqlSegment}
	</select>
	<select id="selectPagePermission"
			resultType="com.zifuji.cloud.server.sys.module.manageUser.cache.bo.ManagePermissionComponentMo">
		SELECT
			zmp.id,
			zmp.create_by,
			zmp.create_time,
			zmp.update_by,
			zmp.update_time,
			zmp.del_flag,
			zmp.sort_num,
			zmp.name,
			zmp.code_sys,
			zmp.code_module,
			zmp.code,
			zmp.description
		FROM
			z_manage_permission zmp
		LEFT JOIN z_manage_role_permission zmrp on zmrp.permission_id = zmp.id
		LEFT JOIN z_manage_role zmr on zmr.id = zmrp.role_id
		LEFT JOIN z_manage_user_role zmur on zmur.role_id = zmr.id
		LEFT JOIN z_manage_user zmu on zmu.id = zmur.user_id
		${ew.customSqlSegment}
	</select>
	<select id="selectListMenu" resultType="com.zifuji.cloud.server.sys.module.manageUser.cache.bo.ManageMenuComponentMo">
		SELECT
		zmm.id,
		zmm.create_by,
		zmm.create_time,
		zmm.update_by,
		zmm.update_time,
		zmm.sort_num,
		zmm.del_flag,
		zmm.parent_id,
		zmm.name,
		zmm.path,
		zmm.component,
		zmm.show_flag,
		zmm.icon_flag
		FROM
		z_manage_menu zmm
		LEFT JOIN z_manage_role_menu zmrm ON zmm.id = zmrm.menu_id
		LEFT JOIN z_manage_role zmr ON zmr.id = zmrm.role_id
		LEFT JOIN z_manage_user_role zmur ON zmur.role_id = zmr.id
		LEFT JOIN z_manage_user zmu ON zmu.id = zmur.user_id
		${ew.customSqlSegment}
	</select>
	<select id="selectPageMenu" resultType="com.zifuji.cloud.server.sys.module.manageUser.cache.bo.ManageMenuComponentMo">
		SELECT
		zmm.id,
		zmm.create_by,
		zmm.create_time,
		zmm.update_by,
		zmm.update_time,
		zmm.sort_num,
		zmm.del_flag,
		zmm.parent_id,
		zmm.name,
		zmm.path,
		zmm.component,
		zmm.show_flag,
		zmm.icon_flag
		FROM
		z_manage_menu zmm
		LEFT JOIN z_manage_role_menu zmrm ON zmm.id = zmrm.menu_id
		LEFT JOIN z_manage_role zmr ON zmr.id = zmrm.role_id
		LEFT JOIN z_manage_user_role zmur ON zmur.role_id = zmr.id
		LEFT JOIN z_manage_user zmu ON zmu.id = zmur.user_id
		${ew.customSqlSegment}	
	</select>


</mapper>
